.area{
    background: linear-gradient(#222, #a2a58a);  
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
    transform: scale(1.2);
}

.area svg {
    position: fixed;
    bottom: 0;
    top: -1;
    left: 0;
    right: 0;
    animation: animate 2.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.7);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
