@media (max-width: 600px) {
.avatar {
    width: 12.5rem;
}

.container {
    text-align: center;
    max-width: 320px;
    padding: 0 1.5rem;
    margin: 0 auto;
}

h1 {
  font-size: 1.4rem;
  width: 95%;
}

.subtitle {
  font-size: 0.8rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

li {
  gap: .5rem;
}

.list-link {
  padding: 1rem;
}

footer {
  font-size: 0.7rem;
}
}
