@media (max-width: 600px) {
.avatar {
    width: 13.5rem;
}

.container {
    width: 19rem;
    text-align: center;
    margin: 1rem auto 0 auto;
    padding: 1rem 2rem;
}

h1 {
  font-size: 1.6rem;
  width: 95%;
}

.icon {
  width: 2rem;
  height: 2rem;
}

li {
  padding: 0 0.25rem;
}

a {
  padding: 1.25rem;
}
}
